**/.DS_Store
dealii
aspect
figs
bash/install/log*.log
perplex/**/*-table.txt
perplex/**/*-profile.txt
simulation/*/results
simulation/*/*/output*
simulation/*/results/*/statistics
simulation/*/configs/logs/*.out
simulation/*/configs/*.run
simulation/*/plugins/CMakeFiles
simulation/*/plugins/Makefile
simulation/*/plugins/CMakeCache.txt
simulation/*/plugins/aspect*
simulation/*/plugins/cmake_install.cmake
simulation/*/plugins/lib*.so
simulation/*/plugins/.cache
simulation/*/plugins/compile_commands.json
python/*/__pycache__
markdown/manuscript/figs
markdown/manuscript/manuscript.pdf
markdown/manuscript/rheological-parameters.md
